<h1>Opening Quotes</h1>
<p>This is a collection of quotes that authors choose to open their books with, aka epigraphs. </p>

<ul class="quote-list">
  <% @quotes.each do |quote| %>
    <li>
      "<%= link_to quote.body, quote %>" — <span class="quote-author"><%= "#{quote.quote_author.first_name} #{quote.quote_author.last_name}" %></span>
    </li>
  <% end %>
</ul>

<p>Currently there are <%= @quotes.length %> epigraphs. The list is ever-growing, so make sure to come back.