<h1>Opening Quotes</h1>
<p>This is a collection of quotes that authors choose to open their books with, aka epigraphs. </p>

<ul>
  <% @quotes.each do |quote| %>
    <li>
      "<%= link_to quote.body, quote %>" — <%= quote.quote_author.name %>
    </li>
  <% end %>
</ul>

<p>Currently there are <%= @quotes.length %> epigraphs. The list is ever-growing, so make sure to come back.