<h1>Authors</h1>
<p>These authors were quoted at the opening of books, have quoted other authors at the opening of their own books, or both.</p>

<div id="author-list">
  <div>
  <% @initials.each do |initial, author| %>
    <h3><%= initial %></h3>
      <ul>
        <% author.each do |a| %>
          <li>
            <%= link_to "#{a.first_name} #{a.last_name}", a %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>