<h1><%= @author.name %></h1>
<h2>This person wrote books.</h2>

<ul>
    <% @author_books.each do |book| %>
        <li>
            <%= link_to book.title, book %> (<%= book.year %>)
        </li>
    <% end %>
</ul>