<h1>Why Opening Quotes?</h1>
<div id="about-whats-an-epigraph">
    <div>
        <p>
            Some novelists choose to open their books with a quote from another writer. This is called an <a href="https://en.wikipedia.org/wiki/Epigraph_(literature)" target="_blank">epigraph</a>. 
            These quotes taken out of their original context are given a new life, necessarily detached from the former one. 
            Since writers are the utmost specialists in their fields, and since the beginning of a work has such relevance to the whole, 
            I risk saying that these selected quotes will necessarily be the <i>crème de la crème</i> of World’s Literature.
        </p>
        <p>
            Here we have the epigraph that opens David Sedaris' novel "Happy-Go-Lucky", a quote by Sigmond C. Monster.
        </p>
    </div>
    <div>
        <img class="" src="/example-epigraph-happy-go-lucky.jpg" alt="The novel Happy-Go-Lucky is open on a page containing its epigraph." />
    </div>
</div>
<p>
    This website was born as an attempt to document all these priceless and scattered epigraphs in only one place. Welcome!
</p>
<p>
    Plenty of books contain epigraphs, and plenty of folks have contributed with their favorites. The ones with literary, poetic or historical value
    will make it to the website, in an effort to keep the quality of the quotes high. It's a subjective work, but isn't it all?
</p>
<p>
    This is a creative endeavour by <a href="https://fredrocha.net" target="_blank">Fred Rocha</a>, and the development process is being documented
    on <a href="https://fredrocha.net/2024/08/07/building-a-crud-application-using-ruby-on-rails-in-2024/" target="_blank">Fred's website</a>, in case you're curious.  
</p>
<p>
    <a href="mailto:fred@fredrocha.net">Shoot Fred an email</a> (it's fred {[at]} fredrocha.net) if you have a cool epigraph that you'd like to see here, or if you just want to share your thoughts.
</p>
<p>
    This creative endeavour was built from scratch from an idea. The epigraphs database is expanding on a regular basis. If you think this is a worthy project and are feeling generous, you can send a small tip Fred's way. It will help keep the momentum and future creative projects flowing. 
</p>
<p>
    <a href="https://ko-fi.com/fredrocha" target="_blank">
        <img class="kofi-button" src="/kofi_button_red.webp" />
    </a>
</p>
<p>
    Thanks to <a href="https://jamez.it" target="_blank">Giacomo Miceli</a> for reminding me this was a worthwhile pursuit, <a href="https://madalenamarques.com" target="_blank">Madalena Marques</a> for the constant inspiration and out-of-the-box thinking, and Christina Casnellie for the 
    work residency in London, with the best food in town and a steady stream of priceless epigraphs.
</p>
<p>
    Most of these epigraphs were collected directly from books. Some of these epigraphs were salvaged from a previous, like-minded project 
    called Epigraphic, on Tumblr. Hat tip to them.
</p>