<h1>Why Opening Quotes?</h1>
<p>
    Some novelists choose to open their books with a quote from another writer. This is called an epigraph. 
    These quotes taken out of their original context are given a new life, necessarily detached from the former one. 
    Since writers are the utmost specialists in their fields, and since the beginning of a work has such relevance to the whole, 
    I risk saying that these selected quotes will necessarily be the <i>crème de la crème</i> of World’s Literature.
</p>
<p>
    This website was born as an attempt to document all these priceless and scattered epigraphs in only one place. Welcome!
</p>
