// Sassy
$debug-color-1: #01d28e;
$debug-color-2: #730068;
$debug-color-3: #a89cc8;
$debug-color-4: lime;
$debug-color-5: teal;

$oq-main-color: black;
$oq-secondary-color: white;
$oq-tertiary-color: #9b51e0;
$oq-accent-color: #ec524b;

$dark-gray: #313131;
$medium-gray: #b2b2b2;
$light-gray: #f8f8f8;

$medium-breakpoint: 540px;

:root {
  --pico-font-family-sans-serif: Helvetica, Arial, "Helvetica Neue", sans-serif;
  --pico-font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo,
    Consolas, "Liberation Mono", monospace, var(--pico-font-family-emoji);
  --pico-font-family: var(--pico-font-family-sans-serif);
}

@mixin structure() {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 40px;
}

html {
  scroll-behavior: smooth;
}

a {
  // text-decoration-color: black;
  color: black;
}

body {
  header {
    background-color: black;
    padding-block: 10px;
    margin-bottom: 40px;

    #header-content {
      @include structure();

      padding: 0px 40px;

      display: flex;
      // Mobile
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      // border: 2px solid lavender;

      #header-logo {
        margin-bottom: 7px;
        svg {
          width: 70px;
          height: 70px;
          &:hover {
            transition: all ease-in-out 0.1s;
            transform: translateY(4px);
          }
        }
      }

      @media screen and (min-width: $medium-breakpoint) {
        flex-direction: row;

        #header-logo {
          margin-bottom: 0px;
          svg {
            width: 90px;
            height: 90px;
          }
        }
      }

      #main-navigation {
        ul {
          list-style: none;
          display: flex;
          align-items: center;
          margin: 0;
          padding: 0;

          li {
            list-style: none;
            padding: 0 10px;
            margin: 0;

            @media screen and (min-width: $medium-breakpoint) {
              padding-left: 20px;
            }

            &.active {
              text-decoration: underline;
              text-decoration-color: white;
            }

            a {
              color: white;
            }
          }
        }
      }
    }
  }

  #body-content {
    // border: 2px solid $debug-color-1;

    @include structure();

    min-height: 600px;
    margin: 0 auto;

    font-family: serif;
  }

  footer {
    margin-top: 40px;
    background-color: black;
    #footer-content {
      display: flex;
      flex-direction: column;

      align-items: baseline;
      @include structure();

      @media screen and (min-width: $medium-breakpoint) {
        flex-direction: row;
      }

      #footer-logo {
        margin-right: 20px;
        svg {
          width: 70px;
          height: 70px;
          &:hover {
            transition: all ease-in-out 0.1s;
            transform: translateY(3px);
          }
        }
      }

      a {
        text-decoration-color: $medium-gray;
        color: $medium-gray;
      }

      p {
        padding: 0 20px;
        font-size: 0.8em;
      }

      #kofi-button-footer {
        margin-top: 20px;
        padding: 0 20px;
      }
    }
  }
}

.kofi-button {
  max-width: 250px;
  &:hover {
    transition: all ease-in-out 0.1s;
    transform: scale(1.1);
  }
}

// Quotes#show
p.quote-body {
  display: inline;
  font-family: Cochin, Cambria, Georgia, Times, "Times New Roman", serif;
}

#see-more-quotes {
  margin-top: 80px;
}

// /about
#about-whats-an-epigraph {
  
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  margin: 80px 0 40px 0;

  @media screen and (min-width: $medium-breakpoint) {
    flex-direction: row;
    
    & > div {
      width: 50%;
    }

    p {
      padding-right: 80px;
    }
    img {
      border-radius: 15px;
    }
  }
}

// Books#show — ripe for factorization
h2 {
  a {
    color: black;
  }
}

form {
  max-width: 500px;
  font-family: var(--pico-font-family);
}
