$debug-color-1: #01d28e;
$debug-color-2: #730068;
$debug-color-3: #a89cc8;
$debug-color-4: lime;
$debug-color-5: teal;

$oq-main-color: black;
$oq-secondary-color: white;
$oq-tertiary-color: #9b51e0;
$oq-accent-color: #ec524b;

$dark-gray: #313131;
$medium-gray: #b2b2b2;
$light-gray: #f8f8f8;


@mixin structure() {
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px 40px;

}

html {
	scroll-behavior: smooth;
}

header {
    /* border: 2px solid lime; */

    #header-content {
        /* border: 2px solid red; */
        @include structure();

        display: flex;
        justify-content: space-between;
        align-items: center;
        
        #main-navigation {
            ul {
                list-style: none;
                display: flex;
                align-items: center;
                margin: 0;

                li {
                    list-style: none;
                    padding-left: 20px;
                    margin: 0;

                    a {
                    }
                }
            }
        }
    }
}

#body-content {
    // border: 2px solid $debug-color-1;

    @include structure();

    min-height: 600px;
    margin: 0 auto;
}

#footer-content {
    // border: 2px solid $debug-color-1;

    display: flex;
    @include structure();

    #footer-logo {
        margin-right: 20px;
    }
}